BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 130%; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
TH {
	COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
table TD {
	COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: normal;
}
TR {
	COLOR: #000000; FONT-WEIGHT: normal
}
A {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-FACE: Arial
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none; FONT-FACE: Arial
}
A:active {
	TEXT-DECORATION: none; FONT-FACE: Arial
}
A:hover {
	POSITION: relative; COLOR: #ff6600; TEXT-DECORATION: none; FONT-FACE: Arial
}
A:link {
	COLOR: #000000; FONT-SIZE: 13px; TEXT-DECORATION: none; FONT-FACE: Arial
}
.height1 {
	LINE-HEIGHT: 150%
}
.height {
	LINE-HEIGHT: 180%
}
.ziheixi {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.daohang {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.daohang A {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.daohang A:link {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.daohang A:visited {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.daohang A:hover {
	LINE-HEIGHT: 36px; COLOR: #ff0000; FONT-WEIGHT: bold; tfont-size: 12px
}
.daohang A:active {
	LINE-HEIGHT: 36px; COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.zihuixi {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #454545; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihuixi A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #454545; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihuixi A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #454545; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihuixi A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #454545; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihuixi A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihuixi A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zibaixi A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #f08527; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.zihongxi A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #f08527; FONT-SIZE: 9pt; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.ziheicu {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ziheicu A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ziheicu A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ziheicu A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ziheicu A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ziheicu A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #666666; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihuicu A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zibaicu A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu A {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu A:link {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu A:visited {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #cc0000; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu A:hover {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #f08527; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zihongcu A:active {
	LINE-HEIGHT: 18px; FONT-VARIANT: normal; FONT-STYLE: normal; COLOR: #f08527; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
INPUT.inpt1 {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND-COLOR: #ffffff; HEIGHT: 18px; COLOR: #666666; FONT-SIZE: 9pt; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid
}
TEXTAREA {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BACKGROUND-COLOR: #ffffff; COLOR: #666666; FONT-SIZE: 9pt; BORDER-TOP: #999999 1px solid; BORDER-RIGHT: #999999 1px solid
}
#changeID {
	LINE-HEIGHT: 20px; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#changeID UL {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#pagechange {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#pagechange A {
	LINE-HEIGHT: 20px; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#bigImg {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.line {
	BORDER-BOTTOM: #629bde 1px solid
}
#VimgTitle {
	LINE-HEIGHT: 25px; FONT-FAMILY: "ºÚÌå"; COLOR: #ffffff; FONT-SIZE: 16px; TEXT-DECORATION: none
}
#company {
	TEXT-ALIGN: center; MARGIN-TOP: 15px; MARGIN-LEFT: 8px
}
#company UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#company UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 38px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#company UL LI A {
	BORDER-BOTTOM: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; BACKGROUND-COLOR: #eeeeee; WIDTH: 35px; DISPLAY: block; HEIGHT: 270px; BORDER-TOP: #eeeeee 1px solid; BORDER-RIGHT: #eeeeee 1px solid; PADDING-TOP: 15px
}
#company UL LI A:hover {
	BORDER-BOTTOM: #ebe3c5 1px solid; BORDER-LEFT: #ebe3c5 1px solid; BACKGROUND-COLOR: #ebe3c5; WIDTH: 35px; DISPLAY: block; HEIGHT: 270px; BORDER-TOP: #ebe3c5 1px solid; BORDER-RIGHT: #ebe3c5 1px solid; PADDING-TOP: 15px
}
bottom {
	BORDER-BOTTOM: #629bde 1px solid
}
.text_area {
	BORDER-BOTTOM: #97cfec 1px solid; BORDER-LEFT: #97cfec 1px solid; BACKGROUND-COLOR: #ffffff; FONT-FAMILY: "ËÎÌå"; COLOR: #666666; FONT-SIZE: 12px; BORDER-TOP: #97cfec 1px solid; BORDER-RIGHT: #97cfec 1px solid
}
.STYLE6 {
	FONT-FAMILY: "ºÚÌå"; COLOR: #ff0000; FONT-SIZE: 15px
}
.bottom {
	BORDER-BOTTOM: #000000 1px solid
}
.bottom3 {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
INPUT {
	BORDER-BOTTOM: #b2c2d7 1px solid; BORDER-LEFT: #b2c2d7 1px solid; BACKGROUND-COLOR: #fffdfb; COLOR: #205064; FONT-SIZE: 9pt; BORDER-TOP: #b2c2d7 1px solid; BORDER-RIGHT: #b2c2d7 1px solid
}
.font_title {
	FONT-VARIANT: normal; FONT-STYLE: normal; FONT-FAMILY: "ºÚÌå"; COLOR: #ffffff; FONT-SIZE: 15px; FONT-WEIGHT: bolder; TEXT-DECORATION: blink
}
.ss {
	TEXT-INDENT: 10px; FONT-FAMILY: "ËÎÌå"; COLOR: #ffffff; FONT-SIZE: 14px; VERTICAL-ALIGN: 5%; FONT-WEIGHT: bold
}
.left {
	TEXT-INDENT: 20px; FONT-FAMILY: "ËÎÌå"; LETTER-SPACING: 2px; COLOR: #b20507; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bai {
	COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.red {
	PADDING-LEFT: 10px; COLOR: #ff0000
}
.jianju {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 7px
}
.jianju2 {
	MARGIN-TOP: 10px
}
.padd {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.htp {
	BORDER-BOTTOM: #d8d7d7 1px solid; BORDER-LEFT: #d8d7d7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #d8d7d7 1px solid; BORDER-RIGHT: #d8d7d7 1px solid; PADDING-TOP: 5px
}
.htp1 {
	BORDER-BOTTOM: #c1bcbc 1px solid; BORDER-LEFT: #c1bcbc 1px solid; BORDER-TOP: #c1bcbc 1px solid; BORDER-RIGHT: #c1bcbc 1px solid
}
.line {
	LINE-HEIGHT: 24px
}
.new-td {
	BORDER-BOTTOM: #eeeeee 3px solid; BORDER-LEFT: #eeeeee 3px solid; BORDER-RIGHT: #eeeeee 3px solid
}
.con-td {
	BACKGROUND-COLOR: #eeeeee
}
.red-ho {
	TEXT-ALIGN: center; LINE-HEIGHT: 35px; COLOR: #b6000a; FONT-SIZE: 14px; FONT-WEIGHT: bold
}